@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    background-color: #fdfdfd;
    background-image: url('./resources/halftoned_16832198061.svg');
    background-size: 3000px;
}

h2{
    font-family: 'Outfit';
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 32px 0;
}
h4{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 8px 0;
}
p{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 8px 0;
    line-height: 32px;
}

#background{
    position: absolute;
    opacity: 0.02;
    background-size: cover;
    width: 100vw;
    height: auto;
    z-index: -1;
}

#contentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 812px;
    height: 100%;
}

#navBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 58px;
    padding-top: 35px;
}

#navImage{
    width: 58px;
    height: 58px;
    margin-right: 80px;
    content:url(./resources/profileSmall.jpg);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.10);
}

#nav{
    display: flex;
    flex-direction: row;
    height: 58px;
    width: 536px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.10);
}

.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    width: 50%;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#active{
    border: 3px solid #5343A8;
    border-radius: 40px;
    cursor: default;
    pointer-events: none;
    background-color: #FCFCFC;
}

#nav:hover{
    background-color: #f5f5f5;
}

#headerBox{
    width: 100%;
    min-height: 80vh;
    margin-bottom: 10px;
}

#titleGreeting{
    font-size: 62px;
    font-family: 'Outfit';
    font-weight: 1000;
    margin-bottom: 45px;
    margin-top: 100px;
}

#projectCount{
    font-size: 62px;
    font-family: 'Outfit';
    font-weight: 400;
    opacity: 0.15;
    margin-left: 32px;
    margin-bottom: 45px;
    margin-top: 100px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
}

.headerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerText{
    width: 520px;
    height: 100%;
    margin: 0;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
}
#headerTextWide{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
}

#callToAction{
    width: fit-content;
    padding: 17px 52px 17px 52px;
    background-color: #5343A8;
    color: white;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgb(83 67 168 / 0.25);
    cursor: pointer;
    text-decoration: none;
}

#callToAction:hover{
    background-color: #46378f;
}

#headerImage{
    width: 260px;
    height: 100%;
    content:url(./resources/profile.jpg);
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 0.10);
}

#content{
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0;
}

.paragraph{
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
}

#skillsBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillItem{
    width: 260px;
    height: 450px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0 0 0 / 0.10);
    box-sizing: border-box;
    padding: 32px;
}

#verticalBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shortItem{
    width: 260px;
    height: 217px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0 0 0 / 0.10);
    box-sizing: border-box;
    padding: 30px;
}

.itemTitle{
    display: flex;
    flex-direction: row;
}

#titleBox{
    display: flex;
    flex-direction: row;
}

.skillIcon{
    height: 20px;
    width: auto;
    margin-top: 4px;
}

.skillsTitle{
    font-size: 24px;
    margin-left: 12px;
    margin-bottom: 16px;
}

#projectTitleBox{
    display: flex;
    flex-direction: column;
}

.projectYear{
    color: #5343A8;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 0;
}

.projectDesc{
    display: flex;
    flex-direction: row;
}

.projectIcon{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    height: 24px;
}

#icon1{
    margin-left: -31.27px;
}
#icon2{
    margin-left: -38px;
}
#icon3{
    margin-left: -48px;
}

.projectTitle{
    margin-right: 8px;
    margin-left: 16px;
}

.projectLabel{
    display: flex;
    align-self: baseline;
    color: #5343A8;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 12px;
    background-color: rgba(84, 67, 168, 0.2);
    padding: 6px 18px 6px 18px;
    border-radius: 50px;
    margin-left: 8px;
    margin-top: 16px;
}

.projectThumbnail{
    border-radius: 50px;
    background-color: white;
    width: 100%;
    height: 440px;
    object-fit: cover;
    margin-bottom: 16px;
    box-shadow: 0 0px 20px rgb(0 0 0 / 0.10);
}

.link{
    color: #5343A8;
    font-weight: 600;
    text-decoration: underline;
}

#socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75px;
    padding-bottom: 32px;
}

.social{
    width: 32px;
    height: 32px;
}

.social:hover{
    background-color: #5343A8;
    border-radius: 5px;
    padding: 2px;
}

#bbtBtn{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 32px;
    right: 32px;
    z-index: 99;
    outline: none;
    background-color: #FCFCFC;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0px 20px rgb(0 0 0 / 0.10);
    background-image: url('./resources/bttIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px;
}

#bbtBtn:hover{
    background-color: #f5f5f5;
}

.hidden{
    opacity: 0.8;
    transform: translateX(100px);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}